APScheduler==3.6.3
arrow==1.2.2
bcon==0.0.2
cachetools==4.2.2
psycopg2==2.9.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
cryptography==36.0.1
distlib==0.3.4
filelock==3.4.2
idna==3.3
mysql-connector-python==8.0.28
pipenv==2022.1.8
platformdirs==2.4.1
protobuf==3.19.4
py-socket==0.0.9
pycparser==2.21
pyTelegramBotAPI==4.3.1
python-dateutil==2.8.2
python-telegram-bot==13.11
python-time==0.3.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
simple-colors==0.1.5
six==1.16.0
sockets==1.0.0
subprocess32==3.5.4
tornado==6.1
tzdata==2022.1
tzlocal==4.1
urllib3==1.26.8
utils==1.0.1
virtualenv==20.13.0
virtualenv-clone==0.5.7